html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.search-form {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 30px;
  background-color: bisque;
  border-bottom: 1px solid darksalmon;
}

.search-form__input {
  padding: 12px;
  border-radius: 20px;
  border-color: darksalmon;
}

.search-form__input:active {
  border-color: lightcoral;
}

.button {
  padding: 12px 32px;
  border: none;
  border-radius: 30px;
  background-color: darksalmon;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: lightcoral;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.load-more.is-hidden {
  opacity: 1;
  pointer-events: painted;
  visibility: visible;
}
