html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.search-form {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 30px;
  background-color: bisque;
  border-bottom: 1px solid darksalmon;
}

.search-form__input {
  padding: 12px;
  border-radius: 20px;
  border-color: darksalmon;
}

.search-form__input:active {
  border-color: lightcoral;
}

.button {
  padding: 12px 32px;
  border: none;
  border-radius: 30px;
  background-color: darksalmon;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: lightcoral;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.load-more.is-hidden {
  opacity: 1;
  pointer-events: painted;
  visibility: visible;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.photo-card {
  flex-basis: calc((100% - 60px) / 3);
  border-radius: 4px;
  background-color: bisque;
}

.galery-img {
  object-fit: cover;
  height: 250px;
  border-radius: 4px;
}

.info {
  padding: 10px;
}

.img-url {
  text-decoration: none;
  font-weight: 800;
  color: brown;
}
